body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;;
}

ul,ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5
}

.header-logo .logo-part {
    color: #2e2f42;;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.page-footer {
    background-color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    padding-top: 100px;
    padding-left: 156px;
    margin-bottom: 16px;
}


.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-left: 156px;
    padding-bottom: 100px;
}

.hero {
    background-color: #2e2f42;
    margin-bottom: 120px;
}

.title-hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.btn-hero {
    cursor: pointer;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    
}   

.btn-hero:hover,
.btn-hero:focus {
    background: #404bbf;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}




.offer {
    margin-bottom: 120px;
    padding: 120px 0
}

.offer-title {}

.offer-list {
    display: flex;
    align-items: stretch;
    gap: 24px;
}

.offer-item {
width: calc((100% - 72px) / 4);
}

.offer-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.offer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.offer-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

.team {
    background-color:#f4f4fd;
}

.team-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-top: 120px;
    margin-bottom: 72px;
}

.team-container {

}

.card-content {
   padding: 0 16px 32px 16px;
   margin-top: 32px;
   text-align: center;
}


.team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    border-radius: 0 0 4px 4px;
    padding-bottom: 120px;
}

.team-item {
    background-color: #FFFFFF
}

.team-img {
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio {
    margin-bottom: 96px;
}

.portfolio-container {
}

.portfolio-t {
    text-align: left;
}



.portfolio-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    align-items: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-items {

}


.portfolio-img {
   
}

.portfolio-title-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 32px;
    padding-left: 16px;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-left: 16px;
    padding-bottom: 32px;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}









